*{
  margin: 0;
  padding: 0;
}
html, body {

  width: 100%;
}
body {
  font-family: 'Lobster', cursive;
  display: flex;
  flex-wrap: wrap;
  text-align: center
}
img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.sidebar {
  width: 25%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
.sidebar img{
  max-width: 75px;
  max-height: 75px;
  position: relative;
}
.sidebar figure{
  margin-top: 200px;
  display: block;
  vertical-align: middle;
  align-content: center;
}
.content {
  width: 75%;
  box-sizing:border-box;
  float: right;
}
.header {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
#bigpicture {
  width: 100%;
  height: auto;
  margin-top: 1em;
  box-sizing: border-box;
}
.works{
  display: flex;
  width: 100%;
  flex-flow: row;
  box-sizing: border-box;
  flex: 1 1 auto;
}
.worksfigs{
  width: 33%;
}
